[package]
name = "commonmarker"
version = "1.0.0"
edition = "2021"

[dependencies]
magnus =  "0.6"
comrak = { version = "0.19", features = ["shortcodes"] }
syntect = { version = "5.1", features = ["plist-load"] }

[lib]
name = "commonmarker"
crate-type = ["cdylib"]
