[package]
name = "commonmarker"
version = "1.0.0"
edition = "2021"

[dependencies]
magnus =  "0.4"
comrak = { version = "^0.16", features = ["shortcodes"] }

[lib]
name = "commonmarker"
crate-type = ["cdylib"]
