name: Tag and Release

on:
  push:
    branches:
      - main
    paths:
      - "lib/commonmarker/version.rb"
  workflow_dispatch:

jobs:
  # native_gem:
  #   name: Compile native gem
  #   runs-on: ubuntu-latest
  #   strategy:
  #     matrix:
  #       platform:
  #         - x86_64-linux
  #         - aarch64-linux

  #         - x86_64-darwin
  #         - arm64-darwin

  #         - x64-mingw-ucrt

  #   steps:
  #     - uses: actions/checkout@v3

  #     - uses: oxidize-rb/actions/setup-ruby-and-rust@main
  #       with:
  #         ruby-version: "3.1"
  #         rubygems: latest
  #         bundler-cache: false
  #         cargo-cache: true
  #         cargo-vendor: true

  #     - uses: oxidize-rb/cross-gem-action@main
  #       with:
  #         platform: ${{ matrix.platform }}
  #         env: |
  #           RUBY_CC_VERSION=3.1.0

  #     - uses: actions/download-artifact@v3
  #       with:
  #         name: cross-gem
  #         path: pkg/

  #     - name: Display structure of built gems
  #       run: ls -R
  #       working-directory: pkg/

  #     - name: Publish to RubyGems
  #       working-directory: pkg/
  #       env:
  #         GEM_HOST_API_KEY: ${{secrets.RUBYGEMS_API_BOT_KEY}}
  #       run: |
  #         mkdir -p $HOME/.gem
  #         touch $HOME/.gem/credentials
  #         chmod 0600 $HOME/.gem/credentials
  #         printf -- "---\n:rubygems_api_key: ${GEM_HOST_API_KEY}\n" > $HOME/.gem/credentials
  #         for i in *.gem; do
  #           if [ -f "$i" ]
  #           then
  #             gem push "$i" || true
  #           fi
  #         done

  release:
    # needs: ["native_gem"]
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Update RubyGems
        run: gem update --system 3.3.22 --no-document

      - name: Set up Ruby 3.1
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1
          bundler-cache: true

      - name: Configure Git
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "Actions Auto Build"

      - name: Get current version
        id: version-label
        run: |
          VERSION=$(grep VERSION lib/commonmarker/version.rb | head -n 1 | cut -d'"' -f2)
          echo "version=${VERSION}" >> $GITHUB_OUTPUT

      - name: Create tag
        run: |
          git tag -a v${{ steps.version-label.outputs.version }} -m "Release v${{ steps.version-label.outputs.version }}"
          git push origin --tags

      - name: Generate CHANGELOG.md
        id: changelog
        run: script/generate_changelog

      - name: Commit & Push Changelog
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "Actions Auto Build"
          git add -f CHANGELOG.md
          git commit -m "docs: update changelog" || true
          git push
      - name: Publish release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create v${{ steps.version-label.outputs.version }} --generate-notes
