name: CI

on:
  pull_request:

jobs:
  test:
    uses: gjtorikian/actions/.github/workflows/ruby_rust_test_suite.yml@main
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}
    with:
      include_musl: true
